@if (IsVisible)
{
    <div class="col-10 alert @ClassModifier row">
        <div class="col-11" style="text-align:left">
            <span>@Msg</span>
        </div>
        <div class="col-1" style="text-align:right">
            <a style="text-underline-position:below; cursor:pointer" @onclick="@(() => Msg = "")">x</a>
        </div>
    </div>
}


@code {
    [Parameter]
    public string Msg { get; set; }
    [Parameter]
    public bool IsError { get; set; }
    public string ClassModifier
    {
        get
        {
            return IsError ? "alert-danger" : "alert-info";
        }
    }

    public bool IsVisible
    {
        get { return !String.IsNullOrWhiteSpace(Msg); }
    }
}
